<!DOCTYPE html>
<html>
<head>
    <title>Markdown Diff</title>
    <style>
        #contents {
            width: 600px;
            font-family: "Slabo", Verdana, serif;
        }

        .file {
            border: 1px solid #555;
            background-color: #888;
            color: #fafafa;
            text-align: center;
        }
    </style>
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body>
<div align="center">
    <div id="contents" align="justify">
        {{markdown}}
    </div>
</div>
</body>
</html>